.root {
  margin-left: 16px;
}

.MuiFormControl-root {
  min-width: 100px;
  color: #f55f13;
}

.select {
  color: orange;
}

.chips {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  background-color: black;
  margin: 2px;
}
